body {
  font-family: Arial;
  background: #F5E6E6;
}

.container {
  padding: 20px;
}

h1 {
  color: #800000;
}

.btn {
  background: #800000;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
}
